/* Styles! */

.flash-msg {
    color: #9d464d;
    font-weight: bold;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9d464d;
}

#navbar li {
    float: left;
    text-transform: uppercase;
}

#navbar a {
    display: block;
    color: white;
    font-family: "Courier", monospaced;
    font-size: 30px;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: 600;
}

#page-title {
    text-align: center;
}

body {
  margin: 0;
  letter-spacing: 0.1em;
  font-family: "Helvetica", sans-serif;
  background: url(seigaiha.png);
  background-repeat: repeat;
  background-color: #f0eff4;
}

#main-page-box {
    padding: 1em;
    border-style: solid;
    border-width: 0px;
    border-color: #000000;
    color: #000000;
    width: 60%;
    background-color: #FFFFFFAA;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.results-box {
    display: inline-block;
}

#dev-note {
    text-align: center;
    color: #9d464d;
    font-weight: bold;
}

a {
    color: #9d464d;
    }

a:hover {
    color: #d29fa5;
    text-decoration: none;
    }