/* Styles! */

.flash-msg {
    color: rgb(256, 256, 256);
    background-color: rgb(230, 85, 13);
    font-weight: bold;
    text-align: center;
    padding: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(49, 163, 84);
}

#navbar li {
    float: left;
    text-transform: uppercase;
}

#navbar a {
    display: block;
    color: white;
    font-family: "Courier", monospaced;
    font-size: 30px;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: 600;
}

#page-title {
    text-align: center;
}

body {
  margin: 0;
  letter-spacing: 0.1em;
  font-family: "Helvetica", sans-serif;
  background: url(seigaiha.png);
  background-repeat: repeat;
  background-color: #f0eff4;
}

#main-page-box {
    padding: 1em;
    color: #000000;
    width: 60%;
    background-color: #FFFFFFAA;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.results-box {
    display: inline-block;
    width: 300px;
    padding: 1em;
    margin: 1em;
    background-color: #FFFFFFAA;
    vertical-align: top;
}

.bubble-box {
    display: inline-block;
    width: 650px;
    margin: 1em;
}

#main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dev-note {
    text-align: center;
    color: rgb(49, 163, 84);
    font-weight: bold;
}

a {
    color: rgb(49, 163, 84);
    }

a:hover {
    color: rgb(116, 196, 118);
    text-decoration: none;
    }