<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="static/styles.css">
    
    <title>
      {% block title %}
        Title goes here
      {% endblock %}
    </title>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="flash-msg">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <h1>
      {% block heading %}
        Heading goes here
      {% endblock %}
    </h1>

    {% block main %}
      Main content of page here.
    {% endblock %}

    {% block bubblechart %}
    {% endblock %}

  </body>

  {% block scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/viz.js"></script>
  {% endblock %}
  
</html>
